.painting-banner img{
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
}
.paintmain-wrap{
display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;  
  padding-bottom: 8%;
}

.paintmain-wrap p{
  font-size: 12px;
  color: #8B8B89;
  font-weight: 400;
}
.single-items{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.single-items .img-wrapper{
   width: 100%;
  overflow: hidden;
}
.single-items img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-items h1{
  font-size: 18px;
  color: #975321;
  font-weight: 600;
}
.single-items p{
  color: #323232;
  margin: 0;
}
.additional-description{
  color: #000000;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 9px;
  padding-right: 25%;
  font-weight: 500 !important;
}



@media (max-width: 768px) {
  .paintmain-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-bottom: 120px;
  }
  .paintmain-wrap .single-items:nth-child(1) {
    order: 2; /* Text comes second */
  }
  .paintmain-wrap .single-items:nth-child(2) {
    order: 1; /* Image comes first */
  }
  .painting-banner {
    width: 100vw;
    overflow-x: hidden;
  }
  .painting-banner img {
    width: 140vw;
    margin-left: -20vw;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .single-items h1{
  font-size: 22px;
  color: #975321;
  font-weight: 600;
  }
  .single-items p{
  color: #323232;
  margin: 0;
  font-size: 18px;
  }
  .additional-description{
  color: #323232;
  margin: 0;
  padding-top: 9px;
  padding-right: 0%;
  font-weight: 100;
}
}    
