@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit/Kanit/Kanit-Light.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit/Kanit/Kanit-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Kanit';
  src: url('../fonts/Kanit/Kanit/Kanit-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Light'), local('Ubuntu-Light'), 
       url('https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjCjBsGyN.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Regular'), local('Ubuntu'), local('Ubuntu-Regular'),
       url('https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgo6eC5nkSGH.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), 
       url('https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3jsGyN.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), 
       url('https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxC7jsGyN.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


html,
body {
  font-family: 'Kanit';
  background-color: #F2EEE5;
  overflow-x: clip;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
  max-width: 92vw;
  margin: 0 auto;
}


/* Header Layout */
/* ===== HEADER ===== */

.site-header {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  background: #F2EEE5;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand img{
  width: 170px;
  height: auto;
}
/* ===== DESKTOP MENU ===== */
.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

/* ===== HAMBURGER ===== */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #000;
  transition: all 0.3s ease;
}


/* ===== MOBILE ===== */
@media (max-width: 768px) {

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.4s ease, padding 0.3s ease;
  }

  .nav-links.active {
    max-height: 300px;
    padding: 30px 0;
  }

  .nav-links {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .nav-links.active {
    opacity: 1;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;

  }

  .site-footer {
    padding-top: 40px !important;
    color: #3E3D3E;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
  }
}

/* ===== HAMBURGER ANIMATION ===== */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.hide-section {
  display: none;
}

.portfolio-modal {
  position: fixed;
  inset: 0;
  background: fff;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.portfolio-modal.active {
  display: flex;
}

.popup {
  color: #fff;
  max-width: 700px;
  background-color: #F2EEE5;
}

.popup-content img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  display: none;
}

.close-modal {
  font-size: 30px;
  cursor: pointer;
  color: #000;
}

.popup-title {
  color: #A74E00;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
}

.popup-desc {
  color: #000;
  font-size: 12px;
  font-weight: 200;
  text-align: left;
}

.site-footer {
  padding-top: 80px;
  color: #3E3D3E;
  text-align: center;
  font-size: 15px;
  padding-bottom: 20px;
}

.nav-links .active {
  text-decoration: none;
  color: #A74E00;
  font-weight: 500;
}



a {
  color: inherit;
  text-decoration: none;
}

/* IMAGE ZOOM MODAL */

/* IMAGE ZOOM MODAL */

.image-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* zoomed image */
.image-modal img{
    max-width: 95vw;
    max-height: 95vh;
    width: auto;
    height: auto;
    object-fit: contain;
}

/* close button */
#closeModal{
    position: absolute;
    top: 25px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* zoom cursor only */
 .page-intro img:not(.no-zoom){
      cursor: zoom-in; 
 } 
body.modal-open{
    overflow: hidden;
}
.detail-actions a{
  border: 1px solid #000;
  height: 40px;
  width: 150px;
  background-color: #000;
  color: #fff;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.gallery-prev:hover,
.gallery-next:hover{
    opacity: 0.7;
}

/* GALLERY ARROWS */

.gallery-prev,
.gallery-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 10px;
}

.gallery-prev{
    left: 30px;
}

.gallery-next{
    right: 30px;
}
.gallery-prev,
.gallery-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    z-index: 10000;
}

.gallery-prev{
    left: 30px;
}

.gallery-next{
    right: 30px;
}
.image-modal img{
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    display: block;
}